//Header font sizes
$header__size-xs:       18px;
$header__size-xs-min:   14px;

$header__size-sm:       20px;
$header__size-sm-min:   16px;

$header__size-md:       26px;
$header__size-md-min:   22px;

$header__size-lg:       30px;
$header__size-lg-min:   24px;

$header__size-xl:       34px;
$header__size-xl-min:   30px;

$header__size-xxl:      44px;
$header__size-xxl-min:  32px;

//Header line heights
$header-line-height-xs: 1.3;
$header-line-height-sm: 1.5;
$header-line-height-md: 1;
$header-line-height-lg: 1.4;
$header-line-height-xl: 1.4;
$header-line-height-xxl: 1.2;

$header-line-height-xs-min: 1.3;
$header-line-height-sm-min: 1.3;
$header-line-height-md-min: 1;
$header-line-height-lg-min: 1.3;
$header-line-height-xl-min: 1.4;
$header-line-height-xxl-min: 1.3;

//Body text font styles
$font__size-xs:         13px;
$font__size-xs-min:     11px;
$line-height-xs:        1.3;
$line-height-xs-min:    1.3;

$font__size-sm:       15px;
$font__size-sm-min:   13px;
$line-height-sm:      1.4;
$line-height-sm-min:  1.3;

$font__size-md:       18px;
$font__size-md-min:   16px;
$line-height-md:      1.6;
$line-height-md-min:  1.4;

$font__size-lg:       26px;
$font__size-lg-min:   22px;
$line-height-lg:      1.4;
$line-height-lg-min:  1.3;

$font__size-xl:       34px;
$font__size-xl-min:   28px;
$line-height-xl:      1.2;
$line-height-xl-min:  1.25;

$font__size-xxl:      44px;
$font__size-xxl-min:  30px;
$line-height-xxl:     1.2;
$line-height-xxl-min: 1.3;













