//Header font sizes
//H6
$header__size-xs:       16px;
$header__size-xs-min:   12px;
$header-line-height-xs: 1.3;
$header-line-height-xs-min: 1.3;

//H5
$header__size-sm:       18px;
$header__size-sm-min:   14px;
$header-line-height-sm: 1.3;
$header-line-height-sm-min: 1.3;

//H4
$header__size-md:       22px;
$header__size-md-min:   18px;
$header-line-height-md: 1.3;
$header-line-height-md-min: 1.3;

//H3
$header__size-lg:       30px;
$header__size-lg-min:   26px;
$header-line-height-lg: 1.3;
$header-line-height-lg-min: 1.3;

//H2
$header__size-xl:       36px;
$header__size-xl-min:   28px;
$header-line-height-xl: 1.3;
$header-line-height-xl-min: 1.3;

//H1
$header__size-xxl:      40px;
$header__size-xxl-min:  36px;
$header-line-height-xxl: 1.3;
$header-line-height-xxl-min: 1.3;

//Header line heights








//Body text font styles
$font__size-xxs:         13px;
$font__size-xxs-min:     11px;
$line-height-xxs:        1.3;
$line-height-xxs-min:    1.4;

$font__size-xs:         14px;
$font__size-xs-min:     13px;
$line-height-xs:        1.3;
$line-height-xs-min:    1.4;

$font__size-sm:       16px;
$font__size-sm-min:   14px;
$line-height-sm:      1.4;
$line-height-sm-min:  1.4;

$font__size-md:       20px;
$font__size-md-min:   18px;
$line-height-md:      1.5;
$line-height-md-min:  1.5;

$font__size-lg:       26px;
$font__size-lg-min:   22px;
$line-height-lg:      1.4;
$line-height-lg-min:  1.6;

$font__size-xl:       34px;
$font__size-xl-min:   28px;
$line-height-xl:      1.2;
$line-height-xl-min:  1.25;


$font__size-xxl:      44px;
$font__size-xxl-min:  30px;
$line-height-xxl:     1.2;
$line-height-xxl-min: 1.3;













